@import url("./abstracts/variables.css"); /* The Brain: Colors & Breakpoints */
@import url("./components/layout.css");    /* The Chassis: Centering & Viewport */
@import url("./components/navigation.css"); /* The Triggers: History & Settings */
@import url("./components/input-system.css"); /* input components in UI */
@import url("./tiers/large.css");           /* The Body: Desktop Overrides */

/* --- end of imports --- */
/* Reset code goes BELOW the imports */

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    overflow: hidden;
}